.stats {
  background-color: #5c6784;
  margin: 15px 0;
  text-align: center;
  color: white;
  padding-top: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.stats p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5em;
}

.empty {
  margin-top: 150px;
}

@media screen and (max-width: 1000px) {
  .empty {
    margin-top: 50px;
  }
}
