.options {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardOptions-button {
  margin: 10px 0;
}

.card-palette {
  background-color: rgb(205, 205, 205);
  padding: 5px;
  width: 60%;
  border-radius: 5px;
}
