@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&family=Noto+Sans:wght@100&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;1,6..12,200&family=Open+Sans:wght@300&family=Oswald:wght@700&family=Roboto+Mono&family=Rubik+Broken+Fax&family=Rubik+Doodle+Shadow&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  display: grid;
  grid-template-rows: 90px 1fr 100px;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .App {
    display: block;
    grid-template-rows: 90px 1fr 200px;
  }
}
